upstram {{ item.key }} {
{% for server in groups.webserver %}
   server {{ server }}:{{ item.value.backend }};   
{% endfor}
}

server {
   listen {{ item.value.frontend }};

   location /{
      proxy_pass http://{{ item.key }};
   }
}